:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: #52649a21;
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --danger: #e53241;
}

:root {
  --background: 255, 255, 255;
  --foreground: 28, 28, 35;
  --icon: 221, 0%, 10%;
  --icon-dark: 221, 0%, 10%;
  --icon-gray: 221, 0%, 90%;
  --black-7: 0, 0, 0;
  --black-6: 16, 16, 16;
  --black-5: 54, 61, 77;
  --black-4: 102, 102, 104;
  --black-3: 149, 149, 151;
  --black-2: 173, 173, 175;
  --black-1: 220, 220, 222;
  --white-6: 209, 209, 211;
  --white-5: 219, 219, 220;
  --white-4: 228, 228, 230;
  --white-3: 238, 238, 239;
  --white-2: 248, 248, 248;
  --white-1: 255, 255, 255;
  --coze-fg-revert: 255, 255, 255;
  --coze-fg-white: 255, 255, 255;
  --coze-fg-7: 255, 255, 255;
  --coze-fg-6: 255, 255, 255;
  --coze-fg-5: 255, 255, 255;
  --coze-fg-4: 8, 13, 30;
  --coze-fg-3: 15, 21, 40;
  --coze-fg-2: 32, 41, 69;
  --coze-fg-1: 55, 67, 106;
  --coze-bg-12: 242, 243, 247;
  --coze-bg-11: 255, 255, 255;
  --coze-bg-10: 247, 247, 252;
  --coze-bg-9: 6, 7, 9;
  --coze-bg-8: 68, 83, 130;
  --coze-bg-7: 75, 90, 140;
  --coze-bg-6: 82, 100, 154;
  --coze-bg-5: 87, 104, 161;
  --coze-bg-4: 90, 108, 167;
  --coze-bg-3: 255, 255, 255;
  --coze-bg-2: 252, 252, 255;
  --coze-bg-1: 247, 247, 252;
  --coze-bg-0: 240, 240, 247;
  --coze-stroke-5: 82, 100, 154;
  --coze-stroke-6: 68, 83, 130;
  --coze-stroke-7: 55, 67, 106;
  --coze-stroke-opaque: 226, 228, 239;
  --coze-mask-5: 0, 0, 0;
  --coze-shadow-0: 0, 0, 0;
  --coze-brand-50: 102, 108, 255;
  --coze-brand-30: 163, 166, 255;
  --coze-brand-7: 65, 43, 255;
  --coze-brand-6: 69, 56, 255;
  --coze-brand-5: 81, 71, 255;
  --coze-brand-3: 150, 159, 255;
  --coze-brand-2: 161, 170, 255;
  --coze-brand-1: 171, 181, 255;
  --coze-brand-0: 181, 191, 255;
  --coze-red-7: 222, 22, 39;
  --coze-red-6: 227, 36, 52;
  --coze-red-5: 229, 50, 65;
  --coze-red-3: 250, 138, 148;
  --coze-red-2: 252, 149, 157;
  --coze-red-1: 255, 163, 171;
  --coze-red-0: 255, 173, 180;
  --coze-yellow-50: 242, 182, 0;
  --coze-yellow-30: 245, 184, 0;
  --coze-yellow-7: 229, 104, 0;
  --coze-yellow-6: 242, 109, 0;
  --coze-yellow-5: 255, 115, 0;
  --coze-yellow-3: 242, 161, 94;
  --coze-yellow-2: 242, 169, 109;
  --coze-yellow-1: 240, 174, 120;
  --coze-yellow-0: 239, 179, 130;
  --coze-green-7: 0, 161, 54;
  --coze-green-6: 0, 168, 56;
  --coze-green-5: 0, 178, 60;
  --coze-green-3: 79, 201, 120;
  --coze-green-2: 93, 207, 131;
  --coze-green-1: 105, 209, 140;
  --coze-green-0: 116, 212, 149;
  --coze-orange-5: 199, 66, 0;
  --coze-orange-3: 242, 148, 65;
  --coze-emerald-5: 0, 128, 74;
  --coze-emerald-3: 41, 204, 114;
  --coze-emerald-50: 0, 184, 122;
  --coze-emerald-30: 54, 209, 158;
  --coze-emerald-20: 66, 214, 165;
  --coze-emerald-10: 103, 229, 188;
  --coze-cyan-5: 0, 124, 135;
  --coze-cyan-3: 47, 196, 189;
  --coze-cyan-50: 0, 163, 163;
  --coze-cyan-30: 62, 199, 199;
  --coze-cyan-20: 73, 204, 204;
  --coze-cyan-10: 84, 209, 209;
  --coze-blue-5: 43, 87, 217;
  --coze-blue-3: 120, 170, 250;
  --coze-blue-50: 61, 121, 242;
  --coze-blue-30: 131, 172, 252;
  --coze-blue-20: 141, 178, 252;
  --coze-blue-10: 153, 187, 255;
  --coze-purple-7: 148, 0, 222;
  --coze-purple-6: 157, 0, 235;
  --coze-purple-5: 167, 0, 250;
  --coze-purple-3: 213, 128, 255;
  --coze-purple-2: 218, 145, 255;
  --coze-purple-1: 224, 163, 255;
  --coze-purple-50: 192, 66, 255;
  --coze-purple-30: 217, 143, 255;
  --coze-purple-20: 221, 153, 255;
  --coze-purple-10: 224, 163, 255;
  --coze-magenta-5: 209, 0, 157;
  --coze-magenta-3: 245, 120, 197;
  --coze-magenta-50: 242, 48, 177;
  --coze-magenta-30: 252, 134, 213;
  --coze-magenta-20: 252, 144, 216;
  --coze-magenta-10: 255, 158, 222;
  --coze-alternative-50: 191, 229, 0;
  --coze-alternative-30: 175, 209, 0;
  --coze-1080: 1080px;
  --coze-800: 800px;
  --coze-640: 640px;
  --coze-480: 480px;
  --coze-320: 320px;
  --coze-240: 240px;
  --coze-200: 200px;
  --coze-160: 160px;
  --coze-120: 120px;
  --coze-96: 96px;
  --coze-80: 80px;
  --coze-64: 64px;
  --coze-48: 48px;
  --coze-40: 40px;
  --coze-38: 38px;
  --coze-36: 36px;
  --coze-32: 32px;
  --coze-30: 30px;
  --coze-28: 28px;
  --coze-26: 26px;
  --coze-24: 24px;
  --coze-22: 22px;
  --coze-20: 20px;
  --coze-18: 18px;
  --coze-16: 16px;
  --coze-15: 15px;
  --coze-14: 14px;
  --coze-12: 12px;
  --coze-10: 10px;
  --coze-9: 9px;
  --coze-8: 8px;
  --coze-6: 6px;
  --coze-5: 5px;
  --coze-4: 4px;
  --coze-3: 3px;
  --coze-2: 2px;
  --coze-1: 1px;
  --coze-fg-1-alpha: 0.38;
  --coze-fg-2-alpha: 0.62;
  --coze-fg-3-alpha: 0.82;
  --coze-fg-4-alpha: 0.9;
  --coze-fg-5-alpha: 1;
  --coze-fg-6-alpha: 1;
  --coze-fg-7-alpha: 1;
  --coze-fg-revert-alpha: 1;
  --coze-fg-white-alpha: 1;
  --coze-bg-0-alpha: 1;
  --coze-bg-1-alpha: 1;
  --coze-bg-2-alpha: 1;
  --coze-bg-3-alpha: 1;
  --coze-bg-4-alpha: 0.04;
  --coze-bg-5-alpha: 0.08;
  --coze-bg-6-alpha: 0.13;
  --coze-bg-7-alpha: 0.19;
  --coze-bg-8-alpha: 0.25;
  --coze-bg-9-alpha: 0.16;
  --coze-bg-10-alpha: 1;
  --coze-bg-11-alpha: 1;
  --coze-bg-12-alpha: 1;
  --coze-stroke-5-alpha: 0.13;
  --coze-stroke-6-alpha: 0.25;
  --coze-stroke-7-alpha: 0.38;
  --coze-brand-0-alpha: 0.23;
  --coze-brand-1-alpha: 0.3;
  --coze-brand-2-alpha: 0.38;
  --coze-brand-3-alpha: 0.45;
  --coze-brand-5-alpha: 1;
  --coze-brand-6-alpha: 1;
  --coze-brand-7-alpha: 1;
  --coze-brand-30-alpha: 0.45;
  --coze-brand-50-alpha: 1;
  --coze-red-0-alpha: 0.23;
  --coze-red-1-alpha: 0.3;
  --coze-red-2-alpha: 0.38;
  --coze-red-3-alpha: 0.45;
  --coze-yellow-50-alpha: 1;
  --coze-yellow-30-alpha: 0.45;
  --coze-yellow-0-alpha: 0.23;
  --coze-yellow-1-alpha: 0.3;
  --coze-yellow-2-alpha: 0.38;
  --coze-yellow-3-alpha: 0.45;
  --coze-yellow-5-alpha: 1;
  --coze-yellow-6-alpha: 1;
  --coze-yellow-7-alpha: 1;
  --coze-green-0-alpha: 0.23;
  --coze-green-1-alpha: 0.3;
  --coze-green-2-alpha: 0.38;
  --coze-green-3-alpha: 0.45;
  --coze-green-5-alpha: 1;
  --coze-green-6-alpha: 1;
  --coze-green-7-alpha: 1;
  --coze-orange-5-alpha: 1;
  --coze-orange-3-alpha: 0.45;
  --coze-emerald-5-alpha: 1;
  --coze-emerald-3-alpha: 0.45;
  --coze-emerald-50-alpha: 1;
  --coze-emerald-30-alpha: 0.55;
  --coze-emerald-20-alpha: 0.45;
  --coze-emerald-10-alpha: 0.2;
  --coze-cyan-5-alpha: 1;
  --coze-cyan-3-alpha: 0.45;
  --coze-cyan-50-alpha: 1;
  --coze-cyan-30-alpha: 0.45;
  --coze-cyan-20-alpha: 0.38;
  --coze-cyan-10-alpha: 0.3;
  --coze-blue-5-alpha: 1;
  --coze-blue-3-alpha: 0.45;
  --coze-blue-50-alpha: 1;
  --coze-blue-30-alpha: 0.45;
  --coze-blue-20-alpha: 0.38;
  --coze-blue-10-alpha: 0.3;
  --coze-purple-7-alpha: 1;
  --coze-purple-6-alpha: 1;
  --coze-purple-5-alpha: 1;
  --coze-purple-3-alpha: 0.45;
  --coze-purple-2-alpha: 0.38;
  --coze-purple-1-alpha: 0.3;
  --coze-purple-50-alpha: 1;
  --coze-purple-30-alpha: 0.45;
  --coze-purple-20-alpha: 0.38;
  --coze-purple-10-alpha: 0.3;
  --coze-magenta-5-alpha: 1;
  --coze-magenta-3-alpha: 0.45;
  --coze-magenta-50-alpha: 1;
  --coze-magenta-30-alpha: 0.45;
  --coze-magenta-20-alpha: 0.38;
  --coze-magenta-10-alpha: 0.3;
  --coze-alternative-30-alpha: 0.45;
  --coze-alternative-50-alpha: 1;
}

.dark {
  --background: 2, 8, 23;
  --foreground: 249, 249, 249;
  --icon: 221, 0%, 90%;
  --icon-dark: 221, 0%, 10%;
  --icon-gray: 221, 0%, 100%;
  --coze-fg-revert: 0, 0, 0;
  --coze-fg-white: 255, 255, 255;
  --coze-fg-7: 255, 255, 255;
  --coze-fg-6: 0, 0, 0;
  --coze-fg-5: 0, 0, 0;
  --coze-fg-4: 255, 255, 255;
  --coze-fg-3: 255, 255, 255;
  --coze-fg-2: 255, 255, 255;
  --coze-fg-1: 255, 255, 255;
  --coze-bg-12: 33, 37, 51;
  --coze-bg-11: 22, 26, 40;
  --coze-bg-10: 33, 37, 52;
  --coze-bg-9: 255, 255, 255;
  --coze-bg-8: 237, 240, 255;
  --coze-bg-7: 237, 240, 255;
  --coze-bg-6: 237, 240, 255;
  --coze-bg-5: 241, 243, 255;
  --coze-bg-4: 241, 243, 255;
  --coze-bg-3: 39, 43, 58;
  --coze-bg-2: 28, 32, 48;
  --coze-bg-1: 24, 28, 43;
  --coze-bg-0: 20, 24, 37;
  --coze-stroke-5: 153, 182, 255;
  --coze-stroke-6: 153, 182, 255;
  --coze-stroke-7: 233, 237, 255;
  --coze-stroke-opaque: 41, 45, 60;
  --coze-mask-5: 0, 0, 0;
  --coze-shadow-0: 0, 0, 0;
  --coze-brand-50: 85, 91, 255;
  --coze-brand-30: 66, 88, 255;
  --coze-brand-7: 194, 194, 255;
  --coze-brand-6: 184, 184, 255;
  --coze-brand-5: 166, 166, 255;
  --coze-brand-3: 94, 94, 255;
  --coze-brand-2: 89, 89, 255;
  --coze-brand-1: 76, 76, 255;
  --coze-brand-0: 76, 76, 255;
  --coze-red-7: 255, 97, 110;
  --coze-red-6: 255, 82, 96;
  --coze-red-5: 255, 38, 56;
  --coze-red-3: 245, 37, 54;
  --coze-red-2: 245, 37, 54;
  --coze-red-1: 242, 36, 53;
  --coze-yellow-50: 255, 191, 0;
  --coze-yellow-30: 156, 117, 0;
  --coze-yellow-7: 255, 161, 84;
  --coze-yellow-6: 255, 148, 61;
  --coze-yellow-5: 255, 122, 13;
  --coze-yellow-3: 194, 88, 2;
  --coze-yellow-2: 191, 87, 2;
  --coze-yellow-1: 178, 80, 0;
  --coze-green-7: 0, 219, 69;
  --coze-green-6: 0, 209, 66;
  --coze-green-5: 0, 191, 64;
  --coze-green-3: 0, 133, 53;
  --coze-green-2: 0, 128, 51;
  --coze-green-1: 0, 122, 41;
  --coze-orange-5: 251, 173, 115;
  --coze-orange-3: 199, 93, 18;
  --coze-emerald-5: 48, 242, 161;
  --coze-emerald-3: 6, 140, 102;
  --coze-emerald-50: 0, 191, 128;
  --coze-emerald-30: 0, 133, 88;
  --coze-emerald-20: 0, 128, 85;
  --coze-emerald-10: 0, 115, 76;
  --coze-cyan-5: 57, 215, 229;
  --coze-cyan-3: 8, 130, 163;
  --coze-cyan-50: 0, 170, 204;
  --coze-cyan-30: 0, 125, 150;
  --coze-cyan-20: 0, 121, 145;
  --coze-cyan-10: 0, 110, 133;
  --coze-blue-5: 120, 176, 255;
  --coze-blue-3: 60, 111, 229;
  --coze-blue-50: 64, 128, 255;
  --coze-blue-30: 23, 100, 255;
  --coze-blue-20: 18, 97, 255;
  --coze-blue-10: 8, 91, 255;
  --coze-purple-7: 233, 189, 255;
  --coze-purple-6: 229, 176, 255;
  --coze-purple-5: 221, 153, 255;
  --coze-purple-3: 189, 56, 255;
  --coze-purple-2: 187, 51, 255;
  --coze-purple-1: 181, 33, 255;
  --coze-purple-50: 202, 97, 255;
  --coze-purple-30: 185, 46, 255;
  --coze-purple-20: 184, 41, 255;
  --coze-purple-10: 180, 31, 255;
  --coze-magenta-5: 255, 148, 210;
  --coze-magenta-3: 250, 30, 188;
  --coze-magenta-50: 255, 77, 195;
  --coze-magenta-30: 255, 15, 175;
  --coze-magenta-20: 255, 10, 173;
  --coze-magenta-10: 255, 0, 169;
  --coze-alternative-50: 202, 242, 0;
  --coze-alternative-30: 111, 133, 0;
  --coze-fg-1-alpha: 0.22;
  --coze-fg-2-alpha: 0.39;
  --coze-fg-3-alpha: 0.79;
  --coze-fg-4-alpha: 1;
  --coze-fg-5-alpha: 1;
  --coze-fg-6-alpha: 0.22;
  --coze-fg-7-alpha: 1;
  --coze-fg-revert-alpha: 1;
  --coze-fg-white-alpha: 0.22;
  --coze-bg-0-alpha: 1;
  --coze-bg-1-alpha: 1;
  --coze-bg-2-alpha: 1;
  --coze-bg-3-alpha: 1;
  --coze-bg-4-alpha: 0.02;
  --coze-bg-5-alpha: 0.05;
  --coze-bg-6-alpha: 0.08;
  --coze-bg-7-alpha: 0.11;
  --coze-bg-8-alpha: 0.14;
  --coze-bg-9-alpha: 0.17;
  --coze-bg-10-alpha: 1;
  --coze-bg-11-alpha: 1;
  --coze-stroke-5-alpha: 0.12;
  --coze-stroke-6-alpha: 0.17;
  --coze-stroke-7-alpha: 0.21;
  --coze-brand-0-alpha: 0.2;
  --coze-brand-1-alpha: 0.2;
  --coze-brand-2-alpha: 0.32;
  --coze-brand-3-alpha: 0.37;
  --coze-brand-30-alpha: 0.41;
  --coze-brand-50-alpha: 1;
  --coze-red-1-alpha: 0.2;
  --coze-red-2-alpha: 0.33;
  --coze-red-3-alpha: 0.39;
  --coze-yellow-50-alpha: 1;
  --coze-yellow-30-alpha: 0.36;
  --coze-yellow-1-alpha: 0.2;
  --coze-yellow-2-alpha: 0.32;
  --coze-yellow-3-alpha: 0.37;
  --coze-green-1-alpha: 0.2;
  --coze-green-2-alpha: 0.34;
  --coze-green-3-alpha: 0.39;
  --coze-orange-3-alpha: 0.36;
  --coze-orange-5-alpha: 0.36;
  --coze-emerald-5-alpha: 1;
  --coze-emerald-3-alpha: 0.35;
  --coze-emerald-50-alpha: 1;
  --coze-emerald-30-alpha: 0.38;
  --coze-emerald-20-alpha: 0.33;
  --coze-emerald-10-alpha: 0.2;
  --coze-cyan-5-alpha: 1;
  --coze-cyan-3-alpha: 0.36;
  --coze-cyan-50-alpha: 1;
  --coze-cyan-30-alpha: 0.39;
  --coze-cyan-20-alpha: 0.33;
  --coze-cyan-10-alpha: 0.2;
  --coze-blue-5-alpha: 1;
  --coze-blue-3-alpha: 0.37;
  --coze-blue-50-alpha: 1;
  --coze-blue-30-alpha: 0.4;
  --coze-blue-20-alpha: 0.34;
  --coze-blue-10-alpha: 0.2;
  --coze-purple-7-alpha: 1;
  --coze-purple-6-alpha: 1;
  --coze-purple-5-alpha: 1;
  --coze-purple-3-alpha: 0.36;
  --coze-purple-2-alpha: 0.31;
  --coze-purple-1-alpha: 0.2;
  --coze-purple-50-alpha: 1;
  --coze-purple-30-alpha: 0.38;
  --coze-purple-20-alpha: 0.33;
  --coze-purple-10-alpha: 0.2;
  --coze-magenta-5-alpha: 1;
  --coze-magenta-3-alpha: 0.35;
  --coze-magenta-50-alpha: 1;
  --coze-magenta-30-alpha: 0.36;
  --coze-magenta-20-alpha: 0.31;
  --coze-magenta-10-alpha: 0.2;
  --coze-alternative-30-alpha: 0.34;
}

:root {
  --coz-fg-hglt-plus: rgba(var(--coze-fg-5), var(--coze-fg-5-alpha));
  --coz-fg-hglt-plus-dim: rgba(var(--coze-fg-5), var(--coze-fg-5-alpha));
  --coz-fg-hglt: rgba(var(--coze-brand-5), 1);
  --coz-fg-hglt-dim: rgba(var(--coze-brand-3), var(--coze-brand-3-alpha));
  --coz-fg-plus: rgba(var(--coze-fg-4), var(--coze-fg-4-alpha));
  --coz-fg: rgba(var(--coze-fg-3), var(--coze-fg-3-alpha));
  --coz-fg-primary: rgba(var(--coze-fg-3), var(--coze-fg-3-alpha));
  --coz-fg-secondary: rgba(var(--coze-fg-2), var(--coze-fg-2-alpha));
  --coz-fg-dim: rgba(var(--coze-fg-1), var(--coze-fg-1-alpha));
  --coz-fg-white: rgba(var(--coze-fg-7), 1);
  --coz-fg-white-dim: rgba(var(--coze-fg-white), var(--coze-fg-white-alpha));
  --coz-fg-hglt-ai: rgba(var(--coze-purple-5), 1);
  --coz-fg-hglt-ai-dim: rgba(var(--coze-purple-3), var(--coze-purple-3-alpha));
  --coz-fg-colorless: rgb(var(--coze-colorless-fg));
  --coz-fg-colorless-pressed: rgb(var(--coze-colorless-fg-pressed));
  --coz-fg-hglt-red: rgba(var(--coze-red-5), 1);
  --coz-fg-hglt-red-dim: rgba(var(--coze-red-3), var(--coze-red-3-alpha));
  --coz-fg-hglt-yellow: rgba(var(--coze-yellow-5), 1);
  --coz-fg-hglt-yellow-dim: rgba(
    var(--coze-yellow-3),
    var(--coze-yellow-3-alpha)
  );
  --coz-fg-hglt-green: rgba(var(--coze-green-5), 1);
  --coz-fg-hglt-green-dim: rgba(var(--coze-green-3), var(--coze-green-3-alpha));
  --coz-fg-color-orange: rgba(var(--coze-yellow-5), 1);
  --coz-fg-color-orange-dim: rgba(
    var(--coze-yellow-3),
    var(--coze-yellow-3-alpha)
  );
  --coz-fg-color-emerald: rgba(var(--coze-green-5), 1);
  --coz-fg-color-emerald-dim: rgba(
    var(--coze-green-3),
    var(--coze-green-3-alpha)
  );
  --coz-fg-color-cyan: rgba(var(--coze-cyan-50), var(--coze-cyan-50-alpha));
  --coz-fg-color-cyan-dim: rgba(var(--coze-cyan-30), var(--coze-cyan-30-alpha));
  --coz-fg-color-blue: rgba(var(--coze-blue-50), var(--coze-blue-50-alpha));
  --coz-fg-color-blue-dim: rgba(var(--coze-blue-30), var(--coze-blue-30-alpha));
  --coz-fg-color-purple: rgba(
    var(--coze-purple-50),
    var(--coze-purple-50-alpha)
  );
  --coz-fg-color-purple-dim: rgba(
    var(--coze-purple-30),
    var(--coze-purple-30-alpha)
  );
  --coz-fg-color-magenta: rgba(
    var(--coze-magenta-50),
    var(--coze-magenta-50-alpha)
  );
  --coz-fg-color-magenta-dim: rgba(
    var(--coze-magenta-3),
    var(--coze-magenta-3-alpha)
  );
  --coz-fg-color-yellow: rgba(
    var(--coze-yellow-50),
    var(--coze-yellow-50-alpha)
  );
  --coz-fg-color-yellow-dim: rgba(
    var(--coze-yellow-30),
    var(--coze-yellow-30-alpha)
  );
  --coz-fg-hglt-orange: rgba(var(--coze-orange-5), 1);
  --coz-fg-hglt-orange-dim: rgba(
    var(--coze-orange-3),
    var(--coze-orange-3-alpha)
  );
  --coz-fg-hglt-emerald: rgba(var(--coze-emerald-5), 1);
  --coz-fg-hglt-emerald-dim: rgba(
    var(--coze-emerald-3),
    var(--coze-emerald-3-alpha)
  );
  --coz-fg-hglt-cyan: rgba(var(--coze-cyan-5), 1);
  --coz-fg-hglt-cyan-dim: rgba(var(--coze-cyan-3), var(--coze-cyan-3-alpha));
  --coz-fg-hglt-blue: rgba(var(--coze-blue-5), var(--coze-blue-5-alpha));
  --coz-fg-hglt-blue-dim: rgba(var(--coze-blue-3), var(--coze-blue-3-alpha));
  --coz-fg-hglt-purple: rgba(var(--coze-purple-5), 1);
  --coz-fg-hglt-purple-dim: rgba(
    var(--coze-purple-3),
    var(--coze-purple-3-alpha)
  );
  --coz-fg-hglt-magenta: rgba(var(--coze-magenta-5), 1);
  --coz-fg-hglt-magenta-dim: rgba(
    var(--coze-magenta-3),
    var(--coze-magenta-3-alpha)
  );
  --coz-fg-color-brand: rgba(var(--coze-brand-50), var(--coze-brand-50-alpha));
  --coz-fg-color-brand-dim: rgba(
    var(--coze-brand-30),
    var(--coze-brand-30-alpha)
  );
  --coz-fg-color-alternative: rgba(var(--coze-alternative-50), 1);
  --coz-fg-color-alternative-dim: rgba(
    var(--coze-alternative-30),
    var(--coze-alternative-30-alpha)
  );
  --coz-mg-hglt-plus-pressed: rgba(var(--coze-brand-7), 1);
  --coz-mg-hglt-plus-hovered: rgba(var(--coze-brand-6), 1);
  --coz-mg-hglt-plus: rgba(var(--coze-brand-5), 1);
  --coz-mg-hglt-plus-dim: rgba(var(--coze-brand-3), var(--coze-brand-3-alpha));
  --coz-mg-hglt-secondary-pressed: rgba(
    var(--coze-brand-2),
    var(--coze-brand-2-alpha)
  );
  --coz-mg-hglt-secondary-hovered: rgba(
    var(--coze-brand-1),
    var(--coze-brand-1-alpha)
  );
  --coz-mg-hglt-secondary: rgba(var(--coze-brand-0), var(--coze-brand-0-alpha));
  --coz-mg-hglt-secondary-red: rgba(var(--coze-red-0), var(--coze-red-0-alpha));
  --coz-mg-hglt-secondary-yellow: rgba(
    var(--coze-yellow-0),
    var(--coze-yellow-0-alpha)
  );
  --coz-mg-hglt-secondary-green: rgba(
    var(--coze-green-0),
    var(--coze-green-0-alpha)
  );
  --coz-mg-plus-pressed: rgba(var(--coze-bg-8), var(--coze-bg-8-alpha));
  --coz-mg-plus-hovered: rgba(var(--coze-bg-7), var(--coze-bg-7-alpha));
  --coz-mg-plus: rgba(var(--coze-bg-6), var(--coze-bg-6-alpha));
  --coz-mg-hglt-pressed: rgba(var(--coze-brand-3), var(--coze-brand-3-alpha));
  --coz-mg-hglt-hovered: rgba(var(--coze-brand-2), var(--coze-brand-2-alpha));
  --coz-mg-hglt-plus-ai-pressed: rgba(var(--coze-purple-7), 1);
  --coz-mg-hglt-plus-ai-hovered: rgba(var(--coze-purple-6), 1);
  --coz-mg-hglt-plus-ai: rgba(var(--coze-purple-5), 1);
  --coz-mg-hglt-plus-ai-dim: rgba(
    var(--coze-purple-3),
    var(--coze-purple-3-alpha)
  );
  --coz-mg-hglt: rgba(var(--coze-brand-1), var(--coze-brand-1-alpha));
  --coz-mg-hglt-ai-pressed: rgba(
    var(--coze-purple-3),
    var(--coze-purple-3-alpha)
  );
  --coz-mg-hglt-ai-hovered: rgba(
    var(--coze-purple-2),
    var(--coze-purple-2-alpha)
  );
  --coz-mg-hglt-ai: rgba(var(--coze-purple-1), var(--coze-purple-1-alpha));
  --coz-mg-colorless: rgb(var(--coze-colorless-mg));
  --coz-mg-colorless-pressed: rgb(var(--coze-colorless-mg-pressed));
  --coz-mg-hglt-plus-red-pressed: rgba(var(--coze-red-7), 1);
  --coz-mg-hglt-plus-red-hovered: rgba(var(--coze-red-6), 1);
  --coz-mg-hglt-plus-red: rgba(var(--coze-red-5), 1);
  --coz-mg-hglt-plus-red-dim: rgba(var(--coze-red-3), var(--coze-red-3-alpha));
  --coz-mg-hglt-plus-yellow-pressed: rgba(var(--coze-yellow-7), 1);
  --coz-mg-hglt-plus-yellow-hovered: rgba(var(--coze-yellow-6), 1);
  --coz-mg-hglt-plus-yellow: rgba(var(--coze-yellow-5), 1);
  --coz-mg-hglt-plus-yellow-dim: rgba(
    var(--coze-yellow-3),
    var(--coze-yellow-3-alpha)
  );
  --coz-mg-hglt-plus-green-pressed: rgba(var(--coze-green-7), 1);
  --coz-mg-hglt-plus-green-hovered: rgba(var(--coze-green-6), 1);
  --coz-mg-hglt-plus-green: rgba(var(--coze-green-5), 1);
  --coz-mg-hglt-plus-green-dim: rgba(
    var(--coze-green-3),
    var(--coze-green-3-alpha)
  );
  --coz-mg-hglt-red-pressed: rgba(var(--coze-red-3), var(--coze-red-3-alpha));
  --coz-mg-hglt-red-hovered: rgba(var(--coze-red-2), var(--coze-red-2-alpha));
  --coz-mg-hglt-red: rgba(var(--coze-red-1), var(--coze-red-1-alpha));
  --coz-mg-hglt-yellow-pressed: rgba(
    var(--coze-yellow-3),
    var(--coze-yellow-3-alpha)
  );
  --coz-mg-hglt-yellow-hovered: rgba(
    var(--coze-yellow-2),
    var(--coze-yellow-2-alpha)
  );
  --coz-mg-hglt-yellow: rgba(var(--coze-yellow-1), var(--coze-yellow-1-alpha));
  --coz-mg-hglt-green-pressed: rgba(
    var(--coze-green-3),
    var(--coze-green-3-alpha)
  );
  --coz-mg-hglt-green-hovered: rgba(
    var(--coze-green-2),
    var(--coze-green-2-alpha)
  );
  --coz-mg-hglt-green: rgba(var(--coze-green-1), var(--coze-green-1-alpha));
  --coz-mg-color-plus-orange: rgba(var(--coze-yellow-5), 1);
  --coz-mg-color-plus-emerald: rgba(var(--coze-green-5), 1);
  --coz-mg-color-plus-cyan: rgba(
    var(--coze-cyan-50),
    var(--coze-cyan-50-alpha)
  );
  --coz-mg-color-plus-blue: rgba(
    var(--coze-blue-50),
    var(--coze-blue-50-alpha)
  );
  --coz-mg-color-plus-purple: rgba(
    var(--coze-purple-50),
    var(--coze-purple-50-alpha)
  );
  --coz-mg-color-plus-magenta: rgba(
    var(--coze-magenta-50),
    var(--coze-magenta-50-alpha)
  );
  --coz-mg-color-plus-yellow: rgba(
    var(--coze-yellow-50),
    var(--coze-yellow-50-alpha)
  );
  --coz-mg-color-orange-pressed: rgba(
    var(--coze-yellow-3),
    var(--coze-yellow-3-alpha)
  );
  --coz-mg-color-orange-hovered: rgba(
    var(--coze-yellow-2),
    var(--coze-yellow-2-alpha)
  );
  --coz-mg-color-orange: rgba(var(--coze-yellow-1), var(--coze-yellow-1-alpha));
  --coz-mg-color-emerald-pressed: rgba(
    var(--coze-green-3),
    var(--coze-green-3-alpha)
  );
  --coz-mg-color-emerald-hovered: rgba(
    var(--coze-green-2),
    var(--coze-green-2-alpha)
  );
  --coz-mg-color-emerald: rgba(var(--coze-green-1), var(--coze-green-1-alpha));
  --coz-mg-color-cyan-pressed: rgba(
    var(--coze-cyan-30),
    var(--coze-cyan-30-alpha)
  );
  --coz-mg-color-cyan-hovered: rgba(
    var(--coze-cyan-20),
    var(--coze-cyan-20-alpha)
  );
  --coz-mg-color-cyan: rgba(var(--coze-cyan-10), var(--coze-cyan-10-alpha));
  --coz-mg-color-blue-pressed: rgba(
    var(--coze-blue-30),
    var(--coze-blue-30-alpha)
  );
  --coz-mg-color-blue-hovered: rgba(
    var(--coze-blue-20),
    var(--coze-blue-20-alpha)
  );
  --coz-mg-color-blue: rgba(var(--coze-blue-10), var(--coze-blue-10-alpha));
  --coz-mg-color-purple-pressed: rgba(
    var(--coze-purple-30),
    var(--coze-purple-30-alpha)
  );
  --coz-mg-color-purple-hovered: rgba(
    var(--coze-purple-20),
    var(--coze-purple-20-alpha)
  );
  --coz-mg-color-purple: rgba(
    var(--coze-purple-10),
    var(--coze-purple-10-alpha)
  );
  --coz-mg-color-magenta-pressed: rgba(
    var(--coze-magenta-30),
    var(--coze-magenta-30-alpha)
  );
  --coz-mg-color-magenta-hovered: rgba(
    var(--coze-magenta-20),
    var(--coze-magenta-20-alpha)
  );
  --coz-mg-color-magenta: rgba(
    var(--coze-magenta-10),
    var(--coze-magenta-10-alpha)
  );
  --coz-mg-primary-pressed: rgba(var(--coze-bg-7), var(--coze-bg-7-alpha));
  --coz-mg-primary-hovered: rgba(var(--coze-bg-6), var(--coze-bg-6-alpha));
  --coz-mg-primary: rgba(var(--coze-bg-5), var(--coze-bg-5-alpha));
  --coz-mg-secondary-pressed: rgba(var(--coze-bg-6), var(--coze-bg-6-alpha));
  --coz-mg-secondary-hovered: rgba(var(--coze-bg-5), var(--coze-bg-5-alpha));
  --coz-mg-secondary: rgba(var(--coze-bg-4), var(--coze-bg-4-alpha));
  --coz-mg: rgba(var(--coze-bg-4), var(--coze-bg-4-alpha));
  --coz-mg-mask: rgba(var(--coze-mask-5), 0.4);
  --coz-mg-table-fixed-hovered: rgba(var(--coze-bg-0), 1);
  --coz-mg-card-pressed: rgba(var(--coze-bg-3), var(--coze-bg-3-alpha));
  --coz-mg-card-hovered: rgba(var(--coze-bg-3), var(--coze-bg-3-alpha));
  --coz-mg-card: rgba(var(--coze-bg-3), var(--coze-bg-3-alpha));
  --coz-mg-color-plus-brand: rgba(
    var(--coze-brand-50),
    var(--coze-brand-50-alpha)
  );
  --coz-bg-max: rgba(var(--coze-bg-3), var(--coze-bg-3-alpha));
  --coz-bg-space-primary: rgba(var(--coze-bg-10), var(--coze-bg-10-alpha));
  --coz-bg-space-max: rgba(var(--coze-bg-11), var(--coze-bg-11-alpha));
  --coz-bg-glint: undefined;
  --coz-bg-plus: rgba(var(--coze-bg-2), var(--coze-bg-2-alpha));
  --coz-bg-primary: rgba(var(--coze-bg-1), var(--coze-bg-1-alpha));
  --coz-bg: rgba(var(--coze-bg-1), var(--coze-bg-1-alpha));
  --coz-bg-secondary: rgba(var(--coze-bg-0), 1);
  --coz-bg-stroke: rgba(var(--coze-stroke-5), var(--coze-stroke-5-alpha));
  --coz-stroke-hglt: rgba(var(--coze-brand-5), 1);
  --coz-stroke-plus: rgba(var(--coze-stroke-6), var(--coze-stroke-6-alpha));
  --coz-stroke-primary: rgba(var(--coze-stroke-5), var(--coze-stroke-5-alpha));
  --coz-stroke-hglt-red: rgba(var(--coze-red-5), 1);
  --coz-stroke-hglt-yellow: rgba(var(--coze-yellow-5), 1);
  --coz-stroke-hglt-green: rgba(var(--coze-green-5), 1);
  --coz-stroke-color-orange: rgba(var(--coze-yellow-5), 1);
  --coz-stroke-color-emerald: rgba(var(--coze-green-5), 1);
  --coz-stroke-color-cyan: rgba(var(--coze-cyan-50), var(--coze-cyan-50-alpha));
  --coz-stroke-color-blue: rgba(var(--coze-blue-50), var(--coze-blue-50-alpha));
  --coz-stroke-color-purple: rgba(
    var(--coze-purple-50),
    var(--coze-purple-50-alpha)
  );
  --coz-stroke-color-magenta: rgba(
    var(--coze-magenta-50),
    var(--coze-magenta-50-alpha)
  );
  --coz-stroke-color-yellow: rgba(
    var(--coze-yellow-50),
    var(--coze-yellow-50-alpha)
  );
  --coz-stroke-color-brand: rgba(
    var(--coze-brand-50),
    var(--coze-brand-50-alpha)
  );
  --coz-stroke-opaque: rgb(var(--coze-stroke-opaque));
  --coz-stroke-max: rgba(var(--coze-stroke-7), var(--coze-stroke-7-alpha));
  --coz-shadow: 0 4px 12px 0px rgba(var(--coze-shadow-0), 0.08),
    0px 8px 24px 0px rgba(var(--coze-shadow-0), 0.04);
  --coz-shadow-large: 0px 8px 24px 0px rgba(var(--coze-shadow-0), 0.16),
    0px 16px 48px 0px rgba(var(--coze-shadow-0), 0.08);
  --coz-shadow-default: 0 4px 12px 0px rgba(var(--coze-shadow-0), 0.08),
    0px 8px 24px 0px rgba(var(--coze-shadow-0), 0.04);
  --coz-shadow-small: 0px 2px 6px 0px rgba(var(--coze-shadow-0), 0.04),
    0px 4px 12px 0px rgba(var(--coze-shadow-0), 0.02);
}
